<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.yourenglishvocabulary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".ui.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SaveNewWordActivity"
            android:label="@string/title_activity_save_new_word"
            android:parentActivityName=".ui.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name=".data.WordsProvider"
            android:authorities="com.example.android.yourenglishvocabulary"
            android:exported="false" />

        <activity
            android:name=".ui.RecordAudioActivity"
            android:theme="@android:style/Theme.Holo.Dialog" />
        <activity
            android:name=".ui.PracticeYourEnglishActivity"
            android:label="@string/title_activity_practice_your_english"
            android:parentActivityName=".ui.HomeActivity" />
        <activity
            android:name=".ui.WordVsWordsActivity"
            android:label="@string/title_activity_word_vs_words"
            android:parentActivityName=".ui.PracticeYourEnglishActivity" />
        <activity
            android:name=".ui.WordVsImagesActivity"
            android:label="@string/title_activity_word_vs_images"
            android:parentActivityName=".ui.PracticeYourEnglishActivity" />
        <activity
            android:name=".ui.SoundVsImagesActivity"
            android:label="@string/title_activity_sound_vs_images"
            android:parentActivityName=".ui.PracticeYourEnglishActivity" />
        <activity
            android:name=".ui.ImageVsWordsActivity"
            android:label="@string/title_activity_image_vs_words"
            android:parentActivityName=".ui.PracticeYourEnglishActivity" />
        <activity
            android:name=".ui.SoundVsWordsActivity"
            android:label="@string/title_activity_sound_vs_words"
            android:parentActivityName=".ui.PracticeYourEnglishActivity" />

        <receiver android:name=".PracticeNowAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/practice_now_app_widget_info" />
        </receiver>
    </application>

</manifest>